<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Agrega aquí los enlaces a las hojas de estilo -->
  </head>
  <body>
    <nav>
      <!-- Agrega aquí los enlaces a otras partes del sitio web -->
    </nav>
    <header>
      <h1>Adrià C</h1>
      <h2>Developer</h2>

      <!-- Agrega aquí una imagen de perfil -->
    </header>
    <main>
      <section>
        <h3>About me</h3>
        <p>28 years old guy, that live near Girona (Spain) and that first he was a sound technician and now his world is all about coding</p>
      </section>
      <section>
        <h3>Education</h3>
        <ul>
          <li> CFGS Desarrollo de Aplicaciones Web, UOCx - Jesuitas el Clot, 2021-2023</li>
          <li>Diplomatura en Sonido Avanzado y Música, EUMES</li>
          <!-- Agrega aquí todos tus estudios y certificaciones -->
        </ul>
      </section>
      <section>
        <h3>Experiencia laboral</h3>
        <ul>
          <li>Puesto, empresa, fechas</li>
          <li>Puesto, empresa, fechas</li>
          <!-- Agrega aquí todas tus experiencias laborales -->
        </ul>
      </section>
      <section>
        <h3>Habilidades</h3>
        <ul>
          <li>Habilidad 1</li>
          <li>Habilidad 2</li>
          <!-- Agrega aquí todas tus habilidades -->
        </ul>
      </section>
      <section>
        <h3>Idiomas</h3>
        <ul>
          <li>Idioma 1, nivel</li>
          <li>Idioma 2, nivel</li>
          <!-- Agrega aquí todos los idiomas que hablas y tu nivel -->
        </ul>
      </section>
      <section>
        <h3>Intereses</h3>
        <ul>
          <li>Interés 1</li>
          <li>Interés 2</li>
          <!-- Agrega aquí todos tus intereses -->
        </ul>
      </section>
    </main>
    <footer>
      <!-- Agrega aquí información de contacto y enlaces a las redes sociales -->
    </footer>
    <!-- Agrega aquí los scripts -->
  </body>
</html>
